@import "tailwindcss";

html {
  height: 100%;
  line-height: 1.2;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

@utility container {
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;

  @variant sm {
    max-width: 640px;
  }
  @variant md {
    max-width: 768px;
  }
  @variant lg {
    max-width: 1024px;
  }
  @variant xl {
    max-width: 1280px;
  }
}
